.login {
    background-color: #D7D7D7;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.registration {
    background-color: #D7D7D7;
    height: 1000px;
}


.Header {
    height: 150px;
    background: black;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
}


.loginContainer {
    background-color: #AAAAAA;

    height: 500px;
    display: flex;
    flex-direction: column;
    border: black;
    border-radius: 5px;
    border-style: solid;
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.loginContainer>form>h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

.loginContainer>form>input {
    height: 30px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    border: black;
    border-style: solid;
    border-radius: 5px;
}

.divloginButton1 {
    text-align: center;
}

.loginButton1 {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin: auto;
}

.divloginButton2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.loginButton2 {
    width: 180px;
    height: 30px;
    font-size: 16px;
    margin: auto;
}

.divloginButton3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.loginButton3 {
    float: left;
    width: 180px;
    height: 30px;
    font-size: 16px;
}

.divloginButton4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.loginButton4 {
    float: right;
    width: 180px;
    height: 30px;
    font-size: 16px;
}